= render partial: "layouts/header"
.link__list
  %ul
    %li
      - breadcrumb :log_out_page_users
      = breadcrumbs separator: " #{content_tag(:i, '', :class=>'fas fa-angle-right gretel__icon')} "
= render partial: "layouts/button"
.logout.clearfix
  = render partial: "side"
  .logout__right
    .logout__right__box
      %form.logout__form
        .logout__form__box
          = link_to "ログアウト", log_out_users_path, method: :delete, class: "logout__form__box__button"

= render partial: "layouts/banner"
= render partial: "layouts/footer"

