= render partial: "layouts/header"
.link__list
  %ul
    %li
      - breadcrumb :user_show
      = breadcrumbs separator: " #{content_tag(:i, '', :class=>'fas fa-angle-right gretel__icon')} "
.mypage__wrapper.clearfix
  .render-side-bar
    = render partial: "side"
    = render partial: "right-mypage"
= render partial: "layouts/banner"
= render partial: "layouts/footer"
