= render partial: "layouts/header"
.link__list
  %ul
    %li
      - breadcrumb :new_credit
      = breadcrumbs separator: " #{content_tag(:i, '', :class=>'fas fa-angle-right gretel__icon')} "
= render partial: "layouts/button"
.container.clearfix
  = render partial: "users/side"
  .container__right2
    .container__right-top
      %h1 クレジットカード情報入力
    .container__right-main
      .container__right-main-space
        .credit-info
          %form#charge-form{type: "submit", controller: "credits", action: "pay", method: "POST" }
            %label カード番号
            %span.form-require 必須
            %br/
            %input.form-require__number#card_number{maxlength: "16", placeholder: "半角数字のみ", value:  ""}/
            .deadline
              %ul.signup-card-list
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?4069491723", height: "20",width:"40"
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?4069491723", height: "20",width:"40"
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?4069491723", height: "20",width:"40"
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?4069491723", height: "20",width:"40"
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?4069491723", height: "20",width:"40"
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?4069491723", height: "20",width:"40"
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?4069491723", height: "20",width:"40"
            .title-space
              %label.title-space 有効期限
              %span.form-require 必須
              %br/
              %select.exp_month#exp_month{maxlength: "2",type: "text",:name => "exp_month", :placeholder => "月"}
                - 1.upto(12) do |i|
                  %option #{i}
                  %span 月
              %br/
              %select.exp_year#exp_year{maxlength: "4", type: "text",:name => "exp_year", :placeholder => "年"}
                - 2020.upto(2029) do |i|
                  %option #{i}
                  %span 年
              %br/
            %label セキュリティコード
            %span.form-require 必須
            %br/
            %input.form-require__number#cvc{maxlength: "4", placeholder: "カード背面3~4桁の番号",name: "cvc"}/
            = link_to "カード裏面の番号とは？", "#"
            .credit
              %button.credit-button#charge-form{type: "submit"} 追加する
= render partial: "layouts/banner"
= render partial: "layouts/footer"


