= render partial: "layouts/header"
= render partial: "layouts/button"
.detail__search.clearfix
  .detail__search__content
    -# if文つける
    %h2 新着商品
    .detail__search__content__box
      -@search_items.each do |item|
        .detail__search__item
          =link_to item_path(item.id) do
            .detail__search__item__image
              = image_tag (item.images.first.image.to_s)
            .detail__search__item__body
              %h3.detail__search__item__body__text=item.name
              .detail__search__item__body__price
                .detail__search__item__body__price__text=converting(item.price)
  .detail__search__content__side
    .form.detail__search__form
      .form.detail__search__form__sort
= render partial: "layouts/banner"
= render partial: "layouts/footer"